header, h1 {
    font-family: 'Cairo', sans-serif;
    color: pink;
    font-size: 4rem;
    font-weight: revert;
    padding-top: 2rem;
}

body {
    background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.container {
    margin-top: 6rem;
}

.videos {
    border-radius: 5%;
    height: 400px;
    width: 400px;
    /* visibility: hidden; */
}

.overlay {
    border: solid black 1px;
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: blue;
    z-index: 1;
}